/* Секція заголовок. */
.section-title{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3rem 4%;
}

.section-title__title{
  font-family: var(--font-kalam);
  font-size: 6rem;
  line-height: 1.1;
  font-weight: 700;
  text-align: center;
}
.section-title__title > span{
  font-size: 2.5rem;
  font-weight: 500;
}
.section-title__img{
  width: 35%;
}
.section-title__img > img{
  display: block;
  width: 100%;
  border-radius: 50%;
  overflow: hidden
}


.section-education,
.section-skills,
.section-projects,
.section-about{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3rem 4%;
}

h2{
  font-size: 1.8rem;
  line-height: 1.2; 
  font-weight: 500;
  text-transform: uppercase;
}

/* Секція про мене. */
.section-about__title{
  background: var(--about-background-title);
  padding-right: 1rem; 
  width: 12rem;
  text-align: end;
  transform: rotate(-90deg);
  position: absolute;
  bottom: 2rem;
  left: -6.5rem;
}

.section-about__wrap{
  width: 80%;
  margin: 0 auto;
  padding: 1rem 3rem;
  border-left: .15rem solid var(--main-color-black);
  position: relative;
  display: flex;
  align-items: center;
}
.section-about__text{
  font-size: 1.7rem;
  line-height: 1.3;
  font-weight: 400;
}
.section-about__text p{
  margin-bottom: 3px;
}
.section-about__text p>span{
  font-size: 1.72rem;
  line-height: 1.3;
  font-weight: 500;
}
/* Секція проєкти. */
.section-projects__wrap{
  width: 80%;
  margin: 0 auto;
  padding: 1rem 3rem;
  border-right: .15rem solid var(--main-color-black);
  position: relative;
  display: flex;
  align-items: center;
}
.section-projects__title{
  padding-right: 1rem; 
  width: 12rem;
  text-align: end;
  transform: rotate(-90deg);
  position: absolute;
  bottom: 2rem;
  right: -6.5rem;
  background: var(--main-background-title);
}

.projects-cart{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem;
  background: var(--main-color-white);
  box-shadow:var(--main-box-shadow );
  border-radius: 1.4rem;
  overflow: hidden;
}
.projects-cart:nth-child(even){
  flex-direction: row-reverse;
}

.projects-cart__info{
  width: 50%;
  padding: 1.5rem;
}
.projects-cart__info-title{
  display: inline-block;
  font-size: 1.8rem;
  line-height: 1.2; 
  font-weight: 500;
  color: var(--main-color-black);
  color: var(--main-color-logo);
  margin-bottom: .5rem;
}
.projects-cart__info-text{
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: 400;
  margin-bottom: .5rem;
}
.projects-cart__info-link{
  display: inline-block;
  font-size: 1.6rem;
  line-height: 1.2;
  font-weight: 500;
  color: var(--main-color-black);
  text-decoration: underline;
  transition: all .3s;
}
.projects-cart__info-link:hover{
  color: var(--main-color-logo);
}

.projects-cart__img{
  display: block;
  width: 50%;
}
.projects-cart__img > img{
  display: block;
  width: 100%;
  border-left: 1px solid rgba(185, 182, 182, 0.438);
  border-right: 1px solid rgba(185, 182, 182, 0.438);
}
.section-projects__list-btn{
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-projects__list-btn > a {
  display: block;
  width: 50%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--main-color-black);
  padding: 1rem;
  transition: all .3s;
}
.section-projects__list-btn > a:hover{
  color: var(--main-color-logo);
}


/* Секція навички. */
.section-skills__wrap{
  width: 80%;
  margin: 0 auto;
  padding: 3rem 3rem;
  border-left: .15rem solid var(--main-color-black);
  position: relative;
  display: flex;
  justify-content: space-around;
}
.section-skills__title{
  padding-right: 1rem; 
  width: 12rem;
  text-align: end;
  transform: rotate(-90deg);
  position: absolute;
  bottom: 1rem;
  left: -6.5rem;
  background: var(--main-background-title);
}

.section-skills__cart{
  width: 30%;
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: 500;
}
.cart-title{
  font-size: 1.8rem;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
}

.cart-list-item{
  display: flex;
  margin: .5rem;
  position: relative;
}
.cart-list-item::before{
  content: "";
  z-index: 2;
  position: absolute;
  width: .6rem;
  height: .6rem;
  background: var(--main-color-logo);
  border-radius: 50%;
  top: .7rem;
  left: -.5rem;
}

.cart-list-item p{
  margin-left: .6rem;
}

/* Секція освіта. */
.section-education{
  margin-bottom: 1rem;
}
.section-education__wrap{
  width: 80%;
  margin: 0 auto;
  padding: 1rem 3rem;
  border-right: .15rem solid var(--main-color-black);
  position: relative;
  display: flex;
  justify-content: space-around;
}

.section-education__title{
  padding-right: 1rem; 
  width: 12rem;
  text-align: end;
  transform: rotate(-90deg);
  position: absolute;
  bottom: 3rem;
  right: -6.8rem;
  background: var(--main-background-title);
}

.section-education__list{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.section-education__list-item{
  min-width: 45%;
  padding: 1rem;
  margin: 1rem;
}
.section-education__list-item h3{
  font-size: 1.3rem;
  line-height: 1.5;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: .5rem;
}

.section-education__list-item p{
  font-size: 1.3rem;
  line-height: 1.2;
  font-weight: 400;
  margin-bottom: .5rem;
}

.section-education__list-item_imgs{
  cursor: pointer;
  position: relative;
}

.section-education__list-item_img{
  width: 1.5rem;
  cursor: pointer;
}
.section-education__list-item_img img{
  display: block;
  width: 100%;
}

.section-education__list-item_certificate{
  width: 80%;
  width: 0;
  transition: all 1s;
  border-radius: .5rem;
  position: absolute;
  top: -1rem;
  left: 0;
  overflow: hidden;
  z-index: 2;
}
.section-education__list-item_certificate img{
  display: block;
  width: 100%;
}

.section-education__list-item_imgs:hover .section-education__list-item_certificate{
  width: 80%;
  border: .1rem solid rgba(61, 61, 61, 0.897);
}

/* Секція відгуки. */
.section-reviews{
  margin-bottom: 1rem;
}



@media (max-width: 980px) {
  .projects-cart{
    justify-content: center;
    flex-direction:column-reverse;
    border-radius: .5rem;
  }
  .projects-cart:nth-child(even){
    flex-direction: column-reverse;
  }

  .projects-cart__info{
    width: 90%;
  }

  .projects-cart__img{
    width: 100%;
  }
  .projects-cart__img > img{
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgba(185, 182, 182, 0.438);
  }
}


@media (max-width: 875px){
  .section-about__title{
    background: var(--main-background-title);
  }
  .about-icon::before{
    display: inline-block;
    content: '';
    width: 4rem;
    height: 4rem;
    background-image: url('../../img/svg-icon/profile_icon_white.svg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: -1rem;
    left: 0;
  }
  .main-page._dark .about-icon::before{
    background-image: url('../../img/svg-icon/profile_icon_black.svg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .projects-icon::before{
    display: inline-block;
    content: '';
    width: 3.3rem;
    height: 3.3rem;
    background-image: url('../../img/svg-icon/projects_white.svg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: -.5rem;
    left: .5rem;
  }
  .main-page._dark .projects-icon::before{
    background-image: url('../../img/svg-icon/projects_black.svg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .skills-icon::before{
    display: inline-block;
    content: '';
    width: 3.5rem;
    height: 3.5rem;
    background-image: url('../../img/svg-icon/skills_white.svg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: -.5rem;
    left: 0.4rem;
    color: #ffffff;
  }
  .main-page._dark .skills-icon::before{
    background-image: url('../../img/svg-icon/skills_black.svg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .education-icon::before{
    display: inline-block;
    content: '';
    width: 3.4rem;
    height: 3.4rem;
    background-image: url('../../img/svg-icon/graduate_white.svg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: -.5rem;
    left: 0.5rem;
  }
  .main-page._dark .education-icon::before{
    background-image: url('../../img/svg-icon/graduate_black.svg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .reviews-icon::before{
    display: inline-block;
    content: '';
    width: 3.4rem;
    height: 3.4rem;
    background-image: url('../../img/svg-icon/reviews__white.svg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: -.5rem;
    left: 0.5rem;
  }
  .main-page._dark .reviews-icon::before{
    background-image: url('../../img/svg-icon/reviews_black.svg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .contact-icon::before{
    display: inline-block;
    content: '';
    width: 3.2rem;
    height: 3.2rem;
    background-image: url('../../img/svg-icon/mail_white.svg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: -.4rem;
    left: 0.6rem;
  }
  .main-page._dark .contact-icon::before{
    background-image: url('../../img/svg-icon/mail_black.svg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .main{
    padding-top: 6rem;
  }
  .section-title{
    flex-direction: column;
  }

  .section-title__title{
    margin-bottom: 2rem;
  }
  .section-title__img{
    width: 70%;
  }


  .section-skills__wrap{
    flex-wrap: wrap;
  }

  .section-skills__cart{
    width: 80%;
    margin: 2rem;
  }
  .section-education__list-item_imgs:hover .section-education__list-item_certificate{
    width: 65vw;
  }

}