

/* @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500&family=Roboto:wght@400;500;700&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600;700;800&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Kalam:wght@700&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Indie+Flower&family=Kalam:wght@700&display=swap'); */


/* Змінні */
:root{
    --font-roboto: 'Roboto', sans-serif;
    --font-open-sans: 'Open Sans', sans-serif;
    --font-comfortaa: 'Comfortaa', cursive;
    --font-style-normal: normal;
    --font-style-Italic:  Italic;
    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-600: 600;
    --font-weight-700: 700;
    font-size: 10px;
    --color-white:#ffffff;
    --color-black:rgb(5, 5, 5);
    --background-header-footer: #1b1b1b83;
    --main-color:#ffffff;


    --menu-background:#1b1b1bd8;
    --menu-color:#ffffff;
    --main-color-logo:rgb(86, 86, 252);
    --main-background-title:#ffffff;
    --about-background-title:#f7f2f2;
    --main-color-white: #ffffff;
    --main-color-black:rgb(5, 5, 5);
    --main-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}


/* Скидання дефолтних налаштуваннь. */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 скидання ролей дисплея для старих браузерів */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button {
	border: none;
	outline: none;
}
/* Загальні стилі */
a{
    text-decoration: none;
    font-style: normal;
}

body{
    font-family: var(--font-open-sans);
    color: var(--color-black);
    width: 100%;
}

.main-page{
    max-width: 140rem;
    margin: 0 auto;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.75) 60%, rgba(255, 255, 255, 0.9)), url('../img/background_hello_world_white.svg');
    background-repeat: no-repeat;
    background-size:contain;
}


.main-page._dark{
    max-width: 140rem;
    margin: 0 auto;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 60%, rgba(0, 0, 0, 0.8)), url('../img/background_hello_world_white.svg');
    background-repeat: no-repeat;
    background-size:contain;
    color: white;
    --menu-background:#f8f4f4ea;
    --menu-color:#000000;
    --main-background-title:rgb(51, 50, 50);
    --about-background-title:rgb(43, 42, 42);
    --main-color-black:white;
    --main-color-white:rgba(17, 17, 17, 0.753);
    --main-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.12), 0px 4px 4px rgba(255, 255, 255, 0.06), 1px 4px 6px rgba(255, 255, 255, 0.16);
}

.header{
    padding: 2rem;
    position: relative;
}
.header__nav{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.header__logo{
    display: block;
    font-family: 'Kalam', cursive;
    font-size: 3rem;
    font-weight: 700;
    color: var(--main-color-logo);
}
.header__logo span{
    display: inline-block;
    color: var(--main-color-black);
}

.header__nav-list{
    display: flex;
    align-items: center;
    margin-right: 5%;
}
.header__nav-list__item{
    margin-right: 1rem;
}
.header__nav-list__item > a{
    display: inline-block;
    padding: .5rem;
    font-size: 1.5rem;
    color: var(--main-color-black);
    font-weight: 500;
    text-transform: uppercase;
    transition: all .3s;
}
.header__nav-list__item > a:hover{
color: var(--main-color-logo);
}
.header__nav-btns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5tem;
}
.header__nav-btn{
    margin-right: 1rem;
}


/* Перемикач день ніч. */
.header__nav-btn__light {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    cursor: pointer;
    gap: 1rem;
}
.header__nav-btn__light_input{
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
}

.header__nav-btn__light___display {
    --offset: 0.15rem;
    --diameter: 1.2rem;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    box-sizing: content-box;
    width: calc(var(--diameter) * 2 + var(--offset) * 2);
    height: calc(var(--diameter) + var(--offset) * 2);
    position: relative;
    background: #424444;
    border: none;
    border-radius: 10rem;
    transition: 250ms;
}

.sun{
    display: block;
    width: 1.1rem;
}
.moon{
    display: block;
    width: 1.2rem; 
}

.header__nav-btn__light___display::before {
    content: "";
    z-index: 2;
    position: absolute;
    top: 50%;
    left: var(--offset);
    box-sizing: border-box;
    width: var(--diameter);
    height: var(--diameter);
    border-radius: 50%;
    background: #424444;
    transform: translate(0, -50%);
    will-change: transform;
    transition: inherit;
    transition: all .6s;
}

.header__nav-btn__light_input:checked + .header__nav-btn__light___display::before {
    transform: translate(100%, -50%);
    background: var(--color-white);
}

.header__nav-btn__light_input:checked + .header__nav-btn__light___display {
    background: var(--color-white);
}

.btn-lang{
    background: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    padding: .5rem;
    color: var( --main-color-black);
    position: relative;
}

.btn-lang_txt{
    display: block;
    text-transform: uppercase; 
    font-size: 1rem;
    padding: .2rem;
    border-radius: .5rem;
    background: var(--main-background-title);
    position: absolute;
    bottom: 0;
    right: 0;
}



.btn-lang_txt-second{
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase; 
    position: absolute;
    right: -2.2rem;
    height: 0;
    overflow: hidden;
    transition: all .3s;
}

.btn-lang img{
    display: block;
    width: 2.3rem;
}

.btn-lang:hover .btn-lang_txt-second{
    height: 100%;
}



.burger-btn{
    padding: .6rem .4rem;
    border-top: .1rem solid var(--main-color-black);
    border-bottom: .1rem solid var(--main-color-black);
    cursor: pointer;
    position: absolute;
    top: 2.5rem;
    left: 4rem;
    display: none;
}
.burger-btn div{
    width: 1.8rem;
    height: .1rem;
    background: var(--main-color-black);
    transition: all 1s;
}


/* Секція заголовок. */
.section-title{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3rem 4%;
}

.section-title__title{
    font-size: 6rem;
    line-height: 1.1;
    font-weight: 700;
    text-align: center;
}
.section-title__title > span{
    font-size: 2.5rem;
    font-weight: 500;
}
.section-title__img{
    width: 35%;
}
.section-title__img > img{
    display: block;
    width: 100%;
    border-radius: 50%;
    overflow: hidden
}


.section-education,
.section-skills,
.section-projects,
.section-about{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3rem 4%;
}

h2{
    font-size: 1.8rem;
    line-height: 1.2; 
    font-weight: 500;
    text-transform: uppercase;
}

/* Секція про мене. */
.section-about__title{
    background: var(--about-background-title);
    padding-right: 1rem; 
    width: 12rem;
    text-align: end;
    transform: rotate(-90deg);
    position: absolute;
    bottom: 2rem;
    left: -6.5rem;
}


.section-about__wrap{
    width: 80%;
    margin: 0 auto;
    padding: 1rem 3rem;
    border-left: .15rem solid var(--main-color-black);
    position: relative;
    display: flex;
    align-items: center;
}
.section-about__text{
    font-size: 1.5rem;
    line-height: 1.2;
    font-weight: 400;
}

/* Секція проєкти. */
.section-projects__wrap{
    width: 80%;
    margin: 0 auto;
    padding: 1rem 3rem;
    border-right: .15rem solid var(--main-color-black);
    position: relative;
    display: flex;
    align-items: center;
}
.section-projects__title{
    padding-right: 1rem; 
    width: 12rem;
    text-align: end;
    transform: rotate(-90deg);
    position: absolute;
    bottom: 2rem;
    right: -6.5rem;
    background: var(--main-background-title);
}

.projects-cart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
    background: var(--main-color-white);
    box-shadow:var(--main-box-shadow );
    border-radius: 1.4rem;
    overflow: hidden;
}
.projects-cart:nth-child(even){
    flex-direction: row-reverse;
}

.projects-cart__info{
    width: 50%;
    padding: 1.5rem;
}
.projects-cart__info-title{
    display: inline-block;
    font-size: 1.8rem;
    line-height: 1.2; 
    font-weight: 500;
    color: var(--main-color-black);
    color: var(--main-color-logo);
    margin-bottom: .5rem;
}
.projects-cart__info-text{
    font-size: 1.5rem;
    line-height: 1.2;
    font-weight: 400;
    margin-bottom: .5rem;
}
.projects-cart__info-link{
    display: inline-block;
    font-size: 1.6rem;
    line-height: 1.2;
    font-weight: 500;
    color: var(--main-color-black);
    text-decoration: underline;
    transition: all .3s;
}
.projects-cart__info-link:hover{
    color: var(--main-color-logo);
}

.projects-cart__img{
    display: block;
    width: 50%;
}
.projects-cart__img > img{
    display: block;
    width: 100%;
    min-height: 26rem;
    border-left: 1px solid rgba(185, 182, 182, 0.438);
    border-right: 1px solid rgba(185, 182, 182, 0.438);
}
.section-projects__list-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-projects__list-btn > a {
    display: block;
    width: 50%;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--main-color-black);
    padding: 1rem;
    transition: all .3s;
}
.section-projects__list-btn > a:hover{
    color: var(--main-color-logo);
}

/* Секція навички. */
.section-skills__wrap{
    width: 80%;
    margin: 0 auto;
    padding: 3rem 3rem;
    border-left: .15rem solid var(--main-color-black);
    position: relative;
    display: flex;
    justify-content: space-around;
}
.section-skills__title{
    padding-right: 1rem; 
    width: 12rem;
    text-align: end;
    transform: rotate(-90deg);
    position: absolute;
    bottom: 1rem;
    left: -6.5rem;
    background: var(--main-background-title);
}

.section-skills__cart{
    width: 30%;
    font-size: 1.5rem;
    line-height: 1.2;
    font-weight: 500;
}
.cart-title{
    font-size: 1.8rem;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
}

.cart-list-item{
    display: flex;
    margin: .5rem;
    position: relative;
}
.cart-list-item::before{
    content: "";
    z-index: 2;
    position: absolute;
    width: 5px;
    height: 5px;
    width: .6rem;
    height: .6rem;
    background: var(--main-color-logo);
    border-radius: 50%;
    top: .7rem;
    left: -.5rem;
}

.cart-list-item p{
    margin-left: .6rem;
}

/* Секція освіта. */
.section-education{
    margin-bottom: 1rem;
}
.section-education__wrap{
    width: 80%;
    margin: 0 auto;
    padding: 1rem 3rem;
    border-right: .15rem solid var(--main-color-black);
    position: relative;
    display: flex;
    justify-content: space-around;
}

.section-education__title{
    padding-right: 1rem; 
    width: 12rem;
    text-align: end;
    transform: rotate(-90deg);
    position: absolute;
    bottom: 3rem;
    right: -6.8rem;
    background: var(--main-background-title);
}

.section-education__list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.section-education__list-item{
    min-width: 45%;
    padding: 1rem;
    margin: 1rem;
}
.section-education__list-item h3{
    font-size: 1.3rem;
    line-height: 1.5;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: .5rem;
}

.section-education__list-item p{
    font-size: 1.3rem;
    line-height: 1.2;
    font-weight: 400;
    margin-bottom: .5rem;
}

.section-education__list-item_imgs{
    cursor: pointer;
    position: relative;
}

.section-education__list-item_img{
    width: 1.5rem;
    cursor: pointer;
}
.section-education__list-item_img img{
    display: block;
    width: 100%;
}

.section-education__list-item_certificate{
    width: 80%;
    width: 0;
    transition: all 1s;
    border-radius: .5rem;
    position: absolute;
    top: -1rem;
    left: 0;
    overflow: hidden;
    z-index: 2;

}
.section-education__list-item_certificate img{
    display: block;
    width: 100%;
}

.section-education__list-item_imgs:hover .section-education__list-item_certificate{
    width: 80%;
    border: .1rem solid rgba(61, 61, 61, 0.897);
}

/* Контакти. */
.footer{
    display: flex;
    justify-content: center;
    padding: 6rem 5%;
    background: var(--about-background-title);
}
.footer__contact{
    width: 80%;
    margin: 0 auto;
    padding: 1rem 3rem;
    border-left: .15rem solid var(--main-color-black);
    position: relative;
}

.footer__contact-title{
    padding-right: 1rem; 
    width: 12rem;
    text-align: end;
    transform: rotate(-90deg);
    position: absolute;
    bottom: 0rem;
    left: -6.5rem;
    background: var(--about-background-title);
}
.footer__contact-list{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer__contact-list__item{
  margin: .6rem;
}

.contact-link{
    font-size: 1.5rem;
    line-height: 1.2;
    font-weight: 500;
    color: var(--main-color-black);
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s;
}

.contact-logo{
    width: 1.6rem;
    margin-right: 1rem;
    background-color: white;
    background:var(--main-color-logo);
    border-radius: .5rem;
    padding: .3rem;
}
.contact-logo img{
    display: block;
    width: 100%;
}
.contact-link:hover{
    color:var(--main-color-logo);
}


@media (max-width: 1350px) {

}
  
@media (max-width: 1150px) {

}
  
@media (max-width: 980px) {
    :root{
        font-size: 8px;
    }
    .projects-cart{
        justify-content: center;
        flex-direction:column-reverse;
        border-radius: .5rem;
    }
    .projects-cart:nth-child(even){
        flex-direction: column-reverse;
    }

    .projects-cart__info{
        width: 90%;
    }

    .projects-cart__img{
        width: 100%;
    }
    .projects-cart__img > img{
        border-left: none;
        border-right: none;
        border-bottom: 1px solid rgba(185, 182, 182, 0.438);
    }
}


@media (max-width: 875px){
    .header{
        padding: 1rem;
        position: fixed;
        z-index: 6;
        background: var(--about-background-title);
        width: 100%;
    }
    .header__nav{
        width: 80%;
        justify-content: space-around;
    }
    .burger-btn{
        display: block;
        transition: all 1s;
        z-index: 5;
        background: none;
        top: 1.5rem;
        left: 2rem;
    }

    .header__nav-list{
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        flex-direction: column;
        align-items: start;
        padding: 8rem 5rem;
        background: var(--menu-background);
        z-index: 3;
        transform: translateX(-100%);
        transition: all 1s;
    }
    .header__nav-list__item{
        padding-left: 5rem;
        margin: 1rem;
        width: 80%;
        position: relative;
    }
    .header__nav-list__item > a{
        width: 100%;
        border-radius: .5rem;
        font-size: 2rem;
        color: var(--menu-color);
    }

    .about-icon::before{
        display: inline-block;
        content: '';
        width: 4rem;
        height: 4rem;
        background-image: url('../img/svg-icon/profile_icon_white.svg');
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: -1rem;
        left: 0;
    }
    .main-page._dark .about-icon::before{
        background-image: url('../img/svg-icon/profile_icon_black.svg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .projects-icon::before{
        display: inline-block;
        content: '';
        width: 3.3rem;
        height: 3.3rem;
        background-image: url('../img/svg-icon/projects_white.svg');
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: -.5rem;
        left: .5rem;
    }
    .main-page._dark .projects-icon::before{
        background-image: url('../img/svg-icon/projects_black.svg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .skills-icon::before{
        display: inline-block;
        content: '';
        width: 3.5rem;
        height: 3.5rem;
        background-image: url('../img/svg-icon/skills_white.svg');
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: -.5rem;
        left: 0.4rem;
        color: #ffffff;
    }
    .main-page._dark .skills-icon::before{
        background-image: url('../img/svg-icon/skills_black.svg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .education-icon::before{
        display: inline-block;
        content: '';
        width: 3.4rem;
        height: 3.4rem;
        background-image: url('../img/svg-icon/graduate_white.svg');
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: -.5rem;
        left: 0.5rem;
    }
    .main-page._dark .education-icon::before{
        background-image: url('../img/svg-icon/graduate_black.svg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .contact-icon::before{
        display: inline-block;
        content: '';
        width: 3.2rem;
        height: 3.2rem;
        background-image: url('../img/svg-icon/mail_white.svg');
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: -.4rem;
        left: 0.6rem;
    }
    .main-page._dark .contact-icon::before{
        background-image: url('../img/svg-icon/mail_black.svg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .main-page._open .header__nav-list{
        transform: translateX(0);
    }

    .main-page._open .burger-btn{
        border-top: .1rem solid var(--menu-color);
        border-bottom: .1rem solid var(--menu-color);
        transform: translateX(80vw);
    }
    .main-page._open .burger-btn > div{
        background: var(--menu-color);
    }

    .main{
        padding-top: 6rem;
    }


    .section-title{
        flex-direction: column;
    }

    .section-title__title{
        margin-bottom: 2rem;
    }
    .section-title__img{
        width: 70%;
    }


    .section-skills__wrap{
        flex-wrap: wrap;
    }

    .section-skills__cart{
        width: 80%;
        margin: 2rem;
    }
    .section-education__list-item_imgs:hover .section-education__list-item_certificate{
        width: 65vw;
    }

    .footer__contact-list{
        justify-content: start;
    }
}